<p><%= @email %> 宛にお送りしています。</p>

<p>以下の6桁コードを「パスワード再発行」画面で入力してください。</p>
<h2 style="letter-spacing:.25em;margin:12px 0" class="tabular-nums"><%= @resource&.reset_password_code %></h2>
<p>このコードは 30 分で期限切れになります。</p>

<p>または次のリンクから直接パスワード再設定に進めます。</p>
<p><%= link_to "パスワードを再設定する",
      edit_password_url(@resource, reset_password_token: @token) %></p>
